version: "3"

services:
  ecomm:
    build: .
    container_name: ecomm
    environment:
      PORT: "80"
    ports:
      - "4000:80"
    depends_on:
      - redis
    networks:
      - ecomm-network

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    networks:
      - ecomm-network

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    container_name: grafana
    depends_on:
      - prometheus
    networks:
      - ecomm-network

  redis:
    image: redis
    container_name: redis
    tty: true
    ports:
      - "6379:6379"
    networks:
      - ecomm-network

networks:
  ecomm-network:
    driver: bridge